pkgbase = amneziawg-dkms
	pkgdesc = AmneziaWG is a contemporary version of the popular VPN protocol, WireGuard.
	pkgver = 3.1.20260827
	pkgrel = 1
	url = https://github.com/amnezia-vpn/amneziawg-linux-kernel-module
	arch = x86_64
	license = GPLv2
	provides = AMNEZIAWG-MODULE=3.1.20260827
	source = amneziawg-dkms-3.1.20260827.tar.gz::https://github.com/amnezia-vpn/amneziawg-linux-kernel-module/archive/refs/tags/v3.1.20260827.tar.gz
	sha512sums = 3e6e6d1e5641532c847d28df29960d08bc33251432064dd372d49faf20adbdb45015e37cbeb4f948cd0adc161491d1bfab9ca2bd2d6bf937ea105be47bf1fe09

pkgname = amneziawg-dkms
	depends = dkms
	depends = wget
