pkgbase = qtscrcpy
	pkgdesc = Android real-time screencast control tool
	pkgver = 4.2.1
	pkgrel = 1
	url = https://github.com/barry-ran/QtScrcpy
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = qt6-tools
	depends = android-tools
	depends = qt6-multimedia
	backup = etc/qtscrcpy/config.ini
	source = qtscrcpy::git+https://github.com/barry-ran/QtScrcpy.git#tag=v4.2.1
	source = qtscrcpycore::git+https://github.com/barry-ran/QtScrcpyCore.git
	sha256sums = 2e74061b08cd0ebff21ebea7edb26b3cc1deee3bc911a7a252701146c13b7fec
	sha256sums = SKIP

pkgname = qtscrcpy
