pkgbase = proton-pass
	pkgdesc = Open-source and secure identity manager
	pkgver = 1.41.0
	pkgrel = 1
	url = https://proton.me/pass
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = nodejs-lts-jod
	makedepends = rust
	makedepends = yarn
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = electron
	conflicts = proton-pass-bin
	source = proton-pass-1.41.0.tar.gz::https://github.com/ProtonMail/WebClients/archive/refs/tags/proton-pass@1.41.0.tar.gz
	source = proton-pass.desktop
	sha256sums = afaa52587b5e209590eedfa5c3a074f3e36d335bb1ddd2f31404028167348a5b
	sha256sums = 501210c67fc921a2fb4ba591980192ad1da60e26fb6b2fd7d68aad4075eafac7

pkgname = proton-pass
