pkgbase = proton-pass
	pkgdesc = Open-source and secure identity manager
	pkgver = 1.42.0
	pkgrel = 1
	url = https://proton.me/pass
	arch = aarch64
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = nodejs-lts-jod
	makedepends = rust
	makedepends = yarn
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = electron
	conflicts = proton-pass-bin
	source = proton-pass-1.42.0.tar.gz::https://github.com/ProtonMail/WebClients/archive/refs/tags/proton-pass@1.42.0.tar.gz
	source = proton-pass.desktop
	sha256sums = 07b9943a8cf8652b340a9b789960070f283613f7ad578ee06dbfa2607bfbbbdf
	sha256sums = 4bf5617be156193f79c1b50cff0cb632288d0d38c906b3690d8212d8414d48b7

pkgname = proton-pass
