pkgbase = faudio
	pkgdesc = XAudio2 reimplementation
	pkgver = 26.10
	pkgrel = 1
	url = https://github.com/FNA-XNA/FAudio
	arch = aarch64
	arch = x86_64
	license = Zlib
	makedepends = cmake
	depends = sdl3
	source = https://github.com/FNA-XNA/FAudio/archive/26.10/faudio-26.10.tar.gz
	sha512sums = 3d1001caa1394b194e64a23ecbb859ab8a6d7f446d107b0554241df966a4123994dc6eccb78d21b89d4890aef5709db78534f5a6d775da44950ff6ebf1f6a669

pkgname = faudio
