pkgbase = faugus-launcher
	pkgdesc = A simple and lightweight app for running Windows games using UMU-Launcher
	pkgver = 2.4.1
	pkgrel = 1
	url = https://github.com/Faugus/faugus-launcher
	arch = any
	license = MIT
	makedepends = meson
	depends = python-gobject
	depends = python-requests
	depends = python-pillow
	depends = python-vdf
	depends = python-psutil
	depends = python-dbus
	depends = icoextract
	depends = gtk4
	depends = libadwaita
	depends = libmanette
	source = faugus-launcher-2.4.1.tar.gz::https://github.com/Faugus/faugus-launcher/archive/refs/tags/2.4.1.tar.gz
	sha256sums = c3676baeaab8ff7f88b0272a206e17ea258a85f4369d7b06e16040a47cc5ec26

pkgname = faugus-launcher
