pkgbase = faugus-launcher
	pkgdesc = A simple and lightweight app for running Windows games using UMU-Launcher
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/Faugus/faugus-launcher
	arch = any
	license = MIT
	makedepends = meson
	depends = python-gobject
	depends = python-requests
	depends = python-pillow
	depends = python-vdf
	depends = python-psutil
	depends = python-dbus
	depends = icoextract
	depends = gtk4
	depends = libadwaita
	depends = libmanette
	source = faugus-launcher-2.2.0.tar.gz::https://github.com/Faugus/faugus-launcher/archive/refs/tags/2.2.0.tar.gz
	sha256sums = db4e9d8a13d5dcff050023a73b9ad77e9f838a6db989d5ef8f0e5315242fce91

pkgname = faugus-launcher
