pkgbase = faugus-launcher
	pkgdesc = A simple and lightweight app for running Windows games using UMU-Launcher
	pkgver = 2.4.2
	pkgrel = 1
	url = https://github.com/Faugus/faugus-launcher
	arch = any
	license = MIT
	makedepends = meson
	depends = python-gobject
	depends = python-requests
	depends = python-pillow
	depends = python-vdf
	depends = python-psutil
	depends = python-dbus
	depends = icoextract
	depends = gtk4
	depends = libadwaita
	depends = libmanette
	source = faugus-launcher-2.4.2.tar.gz::https://github.com/Faugus/faugus-launcher/archive/refs/tags/2.4.2.tar.gz
	sha256sums = 16c52897a0343a5e5e9bef1ae4c2d3ea092eb293a59133eeac666b0614aaf986

pkgname = faugus-launcher
