pkgbase = gnome-shell-extension-no-overview
	pkgdesc = Disable the start up overview in Gnome 40+
	pkgver = 51
	pkgrel = 2
	epoch = 1
	url = https://github.com/fthx/no-overview
	arch = any
	license = GPL-3.0-only
	makedepends = git
	depends = gnome-shell
	source = git+https://github.com/fthx/no-overview.git#tag=v51
	sha256sums = b84a70614b1edcf408ed95a7795b89654af5c118164b03286691e0aa84ee46f9

pkgname = gnome-shell-extension-no-overview
