pkgbase = fluxer
	pkgdesc = A free and open source group chat, video, and voice calling app
	pkgver = 2026.922.193957
	pkgrel = 1
	url = https://fluxer.app/
	arch = x86_64
	license = AGPL-3.0-only
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libnotify
	depends = nspr
	options = !strip
	source = fluxer-2026.922.193957-x64.tar.gz::https://pkgs.fluxer.com/desktop/stable/linux/x64/2026.922.193957/tar_gz
	source = fluxer.desktop
	sha256sums = a01e5b3e171b19c4160ec97a50848617fce4a47018eb2122829b8fc3c76497ba
	sha256sums = d126b3c15f4884517f9b0472506045991cf3b6fdcfa36b389e665394a0b96ed1

pkgname = fluxer
