[Desktop Entry]
Name=Fluxer
Comment=Fluxer is a free and open source instant messaging and VoIP platform built for friends, groups, and communities.
GenericName=Internet Messenger
Exec=fluxer
Icon=fluxer
Type=Application
Categories=Network;InstantMessaging;AudioVideo;
